* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

input {
    padding: 8px;
    font: inherit;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

li,
ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.home-link {
    margin-bottom: 30px;
    display: block;
}

.form-task-01 {
    margin-top: 30px;
}

.text-input {
    padding: 5px 10px;
}

.btn {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
}

.success {
    color: #fff;
    background-color: #28a745;
}

.success:hover {
    background-color: #218838;
}

.success:active {
    background-color: #1e7e34;
}

.danger {
    color: #fff;
    background-color: #dc3545;
}

.danger:hover {
    background-color: #c82333;
}

.danger:active {
    background-color: #bd2130;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 10px;
}

.link {
    color: orange;
    font-weight: bold;
    font-size: 24px;
}

.modal {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
}